/* em = 16px */

.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid grey;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1em 0.9em 0;
  max-width: 1000px;
  margin: 1 auto;
}

.logo {
  width: 100px;
  padding: 0 1em;
}

.logo:hover {
  cursor: pointer;
}

.search {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 3px;
  background-color: rgb(255, 248, 248);
  min-width: 225px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

  
}
.search-icon{
    width: 10px;
    opacity: 0.4;
    margin-right: 0.3em;
}
.search-text{
  color: fafafa;
  font-size: 0.85em;
  font-weight: 300;

}

/* For Mobile, search display off */

@media screen and (max-width:500px) {
  .search{
    display: none !important;

  }
  
}