.storyBorder{
    padding: 2px;
    background-color: rgb(177, 177, 177);
    border-radius: 50%;
}
.profileIcon{
    display: block;
    border-radius: 50%;
    border: 2px solid white;

}
.profileIcon:hover{
    cursor: pointer;
}

.small.profileIcon{
    width: 25px;
    height: 25px;
}
.medium.profileIcon{
    width: 35px;
    height: 35px;
}
.big.profileIcon{
    width: 60px;
    height: 60px;
}